.button {
    background-color: #f1f1f1;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    line-height: 1.4;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    border: solid 1px #dcdcdc;
    transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    letter-spacing: 0.06em;
    text-decoration: none;
    margin-bottom: 1.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button.block {
    display: block;
}
button.block {
    width: 100%;
}

.button.large {
    padding: 0.65em 2em;
    font-size: 120%;
}
.button:hover,
.button:focus {
    background-color: #dcdcdc;
    outline: none;
}

.button-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #0265cf;
}
.button-primary:hover,
.button-primary:focus {
    background-color: #0265cf;
}
.button-success {
    color: #ffffff;
    background-color: #51ba6b;
    border-color: #459e5a;
}
.button-success:hover,
.button-success:focus {
    background-color: #459e5a;
}
.button-danger {
    color: #ffffff;
    background-color: #ec4656;
    border-color: #c34d5a;
}
.button-danger:hover,
.button-danger:focus {
    background-color: #c34d5a;
}
.button-warning {
    color: #484848;
    background-color: #f8d66d;
    border-color: #d8b855;
}
.button-warning:hover,
.button-warning:focus {
    background-color: #d8b855;
}
.button-info {
    color: #515151;
    background-color: #7fe5f8;
    border-color: #6fbcc7;
}
.button-info:hover,
.button-info:focus {
    background-color: #6fbcc7;
}
.button-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
